body {
	margin: 0;
	padding: 0;
}

#header {
	text-align:center;
	top: 0;
	font-size: 30px;
	color: orange;
	font-family: "Monotype Corsiva"
}

#content {
	text-align:center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
    font-size: 20px;
    color: white;
    font-family: "Comic Sans MS"
}

#footer {
	margin-top: 50px;
    left: 0;
    bottom: 30px;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
}