body {
	margin: 0;
	padding: 0;
}

#header {
	text-align:center;
	top: 0;
	font-size: 30px;
	color: orange;
	font-family: "Monotype Corsiva";
}

#content {
	text-align:center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: black;
    font-family: "Comic Sans MS";
}

#footer {
	margin-top: 50px;
    left: 0;
    bottom: 30px;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
    position: fixed;
}