
<div class="row">
  <div class="col-lg-12">
    <h1>Sobre Piegas</h1>
  </div>
</div>

<div class="content2">
  <span style="display:inline-block; vertical-align:middle;">
 	<p> Este é um projeto acadêmico de TCC com o intuito de aplicar algoritmo de sentimentos utilizando Redes Sociais</p>
  <br/><br/>
  <p> Pedro Henrique Grandin </p>
  <p> Campinas, SP <p>
  <p> Engenharia de Computação - PUC Campinas </p>
  <p> pedrohenrique.grandin@gmail.com </p>
  </span>
</div>

 