
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

<script type="text/javascript">
	$(function () {
	    	
	    	// Radialize the colors
			Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
			    return {
			        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
			        stops: [
			            [0, color],
			            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
			        ]
			    };
			});
			
			// Build the chart
      $('#container').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              backgroundColor: null
          },
          title: {
              text: 'Gráfico de avaliações positivas, negativas e neutras',
              color: 'black'
          },
          tooltip: {
      	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      color: 'black',
                      connectorColor: '#000000',
                      formatter: function() {
                          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Browser share',
              data: [
                  {
                      name: 'Positivos',
                      y: 15,
                      sliced: true,
                      selected: true,
                      color: 'green'
                  },
                  {
                      name: 'Negativos',
                      y: 15,
                      sliced: false,
                      selected: false,
                      color: 'red'
                  },
                  {
                      name: 'Neutros',
                      y: 5,
                      sliced: false,
                      selected: false,
                      color: 'gray'
                  },
              ]
          }]
      });

      
      $('#container').createCanvas;
	});

   
</script>

<div class="row">
  <div class="col-lg-12">
    <h1>Gráficos do resultado</h1>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
