
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 

<script type="text/javascript">
	
$(document).ready(function() {
        //chart = new Highcharts.Chart({

 // $(function () {
	    	
	    	// Radialize the colors
			// Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
			//     return {
			//         radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
			//         stops: [
			//             [0, color],
			//             [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
			//         ]
			//     };
			// });
			
			// Build the chart
      // chart = new Hightcharts.Chart({
       $('#container').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              backgroundColor: null
          },
          title: {
              text: 'Gráfico de seções - avaliações positivas, negativas e neutras',
              color: 'black'
          },
          tooltip: {
      	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      color: 'black',
                      connectorColor: '#000000',
                      formatter: function() {
                          return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                      }
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Browser share',
              data: [
                  {
                      name: 'Positivos',
                      y: 15,
                      sliced: true,
                      selected: true,
                      color: 'green'
                  },
                  {
                      name: 'Negativos',
                      y: 15,
                      sliced: false,
                      selected: false,
                      color: 'red'
                  },
                  {
                      name: 'Neutros',
                      y: 5,
                      sliced: false,
                      selected: false,
                      color: 'gray'
                  },
              ]
          }]
      });

      
      $('#container').createCanvas;

      $('#barchart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Gráfico de Barras - rAvaliações positivas, negativas e neutras'
            },
            subtitle: {
                text: 'Pesquisa: <%= session[:product] %>'
            },
            xAxis: {
                categories: ['Positivos', 'Negativos', 'Neutros', 'Spams'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Tweets',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' Comentários'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Tweets',
                data: [17, 13, 20, 7]
            }]
        });
    });
</script>

   
</script>

<div class="row">
  <div class="col-lg-12">
    <h1>Gráficos do resultado</h1>
  </div>
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br /><br/>
<div id="barchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
