
<div class="row">

  <div id="content" style="text-align:left;">
    <% @file = File.readlines('public/yaml/spam.yml') %>
        <% for i in (1..@file.length) %>
          <%= @file[i] %>
          <br />
        <% end %>
  </div>

</div>
