<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido ao excessivo numero de falhas de acesso.</p>

<p>Clique abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
